<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://10.11.39.192:8090/job/AqaraHome_iOS/184/artifact/build/TestADHoc-iphoneos/AqaraHome-2.1.5.4.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <integer>0</integer>
                        <key>url</key>
                        <string>
                            <![CDATA[https://ali-fir-pro-icon.jappstore.com/4d9ccd5be0a5115c5de805e8b000e0c134e6b9c6?auth_key=1598599020-0-0-fdf8bf345311692d37e64ac353148193]]>
                        </string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true />
                        <key>url</key>
                        <string>
                            <![CDATA[https://ali-fir-pro-icon.jappstore.com/4d9ccd5be0a5115c5de805e8b000e0c134e6b9c6?auth_key=1598599020-0-0-fdf8bf345311692d37e64ac353148193]]>
                        </string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.lumiunited.pre.homekit</string>
                    <key>bundle-version</key>
                    <string>
                        <![CDATA[2.1.5.4]]>
                    </string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>
                        <![CDATA[Aqara Home]]>
                    </string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
